.navbar-logo {
    height: 40px;
}

.navbar {
    background-color: #222;
    /* height: 150px; */
    width: 100%;
    padding: 20px;
    color: white;
    margin-bottom: 10px;
}

.nav-link {
    color: white !important;
}

.navbar-toggler {
    background-color: white !important;
}