.navbar-logo {
    height: 40px;
}

.navbar {
    background-color: #222;
    /* height: 150px; */
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}

a {
    color: white !important;
}

a:hover {
    color: #D91921 !important;
    text-decoration: none !important;
}

a.active {
    color: #00DC89 !important;
    font-weight: bold;
    border-bottom: 1px solid #00DC89;
    border-bottom-width: thick;
}

a.active:hover {
    color: #D91921 !important;
}

.nav-item {
    padding: 0 20px;
}

.navbar-toggler {
    background-color: white !important;
}